@{
    ViewBag.Title = "Home Page";
}
<div class="cardx">
    <div class="card-bodys">
        <h3 class="card-title">
            I am the body of a not-so-simple card
        </h3>
        <h4 class="card-subtitle">I am the subtitle</h4>
        <p class="card-text">
            I am plain text
        </p>
        <a href="#" class="card-link">First link</a>
        <a href="#" class="card-link">Second link</a>
        <a href="#" class="card-link">Third link</a>
    </div>
    <img class="card-img-bottom"
         src="~/content/images/Metope-images.jpg">
</div>