@model IEnumerable<OrdersModel.DomainClasses.Customer>

@{
    ViewBag.Title = "IndexAngularHome";
} 
<h2>Home for AngularJS</h2>
@*<a href="#/CustListing" class="btn">Customer Listing</a>*@
 
 <div data-ng-view=""></div>
    @section Scripts { 
        <script src="~/Scripts/angular.min.js"></script> 
        <script src="~/Scripts/angular-route.min.js"></script>       
        <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
        <script src="~/app/app.js"></script> 
        <script src="~/services/ProjectServices.js"></script>
        <script src="~/app/employee.controller.js"></script>
        @*<script src="~/app/app.module.js"></script>*@
        <script src="~/app/customer2.controller.js"></script>
    }
