@model IEnumerable<OrdersModel.DomainClasses.Customer>

@{
    ViewBag.Title = "Index2";
} 
<a href="#/Customer">customer</a> 
<h2>Index2</h2>
 
 <div ng-view=""></div>
 

    @section Scripts { 
        <script src="~/Scripts/angular.min.js"></script> 
        <script src="~/Scripts/angular-route.min.js"></script>       
        <script src="~/app/app.js"></script> 
        <script src="~/services/ProjectServices.js"></script>
        <script src="~/app/employee.controller.js"></script>
        @*<script src="~/app/app.module.js"></script>*@
        <script src="~/app/customer2.controller.js"></script>
    }
