<div> 
    <a class="navbar-brand" href="..\Customer\IndexAngularHome">{{Message}}</a> 
 
    
    <div>
        <input type="submit" value="Add New" class="btn btn-primary" ng-click="createEmployeeForm()" />
    </div>
        <table class="table">
            <thead>
                <tr>
                    <th class="pdsa-action-button-column"> 
                    </th>
                    <th>first Name.</th>
                    <th>Last Name</th>
                    <th class="pdsa-action-button-column">
                        Deletee
                    </th>
                </tr>
            </thead>

            <tr ng-repeat="cust in Customers">
                <td class=" pdsa-action-button-column">
                    <a data-ng-href="#/CustEdit/{{cust.CustomerId}}"
                       ng-click="vm.editClick(cust.CustomerId)"
                       class="btn btn-default btn-sm">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                </td>
                <td>{{cust.FirstName}}  </td>
                <td>{{cust.LastName}}  </td>
                <td class="pdsa-action-button-column">
                    <a data-ng-href="#/CustDelete/{{cust.CustomerId}}"
                       ng-click="vm.CustDelete(dataModel)"
                       class="btn btn-default btn-sm">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>

            </tr>


        </table>
    </div>
<div class="alert alert-danger" ng-if="hasFormError">{{formErrors}}</div>